body {
    background: rgb(200,200,200);
}
.content {
    display: flex;
    flex: 1;
}
.main {
    width: 80%;
}
.sidebar {
    background-color: aqua;
    min-width: 20%;
    padding: 1rem;
}
.navigation ul {
    display: flex;
    flex: 1
}
.navigation li {
    width: 200px;
    list-style: none;
}